@import '../parts/mixins'
@import '../parts/settings'

#grocery-list-wrapper
	@extend %component-wrapper
#grocery-list
	#save-grocery-list
		cursor: pointer
		&:active
			color: color('light-green','darken-2')
	.view-message
		display: block
		font-weight: bold
		margin: .5em auto
		text-align: center
	&.view_trash
		.trash-empty
			color: #fff
			cursor: pointer
			display: block
			padding: .5em 0
			text-align: center
	.collection-item
		&:first-of-type
			@extend %collection-header
			h5, i, aside
				vertical-align: middle
			h5
				display: inline-block
			i 
				font-size: 2.25em
				position: absolute
				top: 8px
				right: 8px
			aside
				font-size: .9em
				position: absolute
				top: 1.075em
				right: 1.075em
				text-align: right
				a
					color: #fff
					cursor: pointer
					text-decoration: underline
					&:not(:last-of-type)
						margin-right: 1em
					&.view-disabled
						cursor: not-allowed
						opacity: .5
		transition: .2s text-decoration, .2s font-style, .2s color
		&.completed
			$completedColor: color('grey','base')
			color: $completedColor
			font-style: italic
			text-decoration: line-through
			transition: .2s text-decoration, .2s font-style, .2s color
	#grocery-list-form-wrapper
		padding: 10px
	#grocery-list-form
		.input-field
			margin-top: 0
			input
				border-bottom: 0
				box-shadow: none
				height: 1.2em
				margin-bottom: 10px