// ToDoList

@import '../parts/mixins'
@import '../parts/settings'

#todo-list-wrapper
	@extend %component-wrapper
#todo-list
	li.collection-item
		&:first-of-type
			@extend %collection-header
		.secondary-content
			cursor: pointer
	#todo-list-dummy
		border: none
		height: 0
		padding: 0
	#todo-list-form
		#todo-list-form-wrapper
		padding: 10px
		.input-field
			margin-top: 0
			input
				border-bottom: 0
				box-shadow: none
				height: 1.2em
				margin-bottom: 10px